/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;


    /* overflow: hidden; */
    /* background-color: #de4e4e; */
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
/* Map for the landing page. */
#map {
    position: relative;
    display: inline-block;
    top: 38px;
    height: 95%;
    width: 100%;
    z-index: 3;
    /* float: left; */
    /*  */
}  

.full{
    width: 100%;
}

.blurred{
    filter: blur(10px); 
}

/*Font-awesome*/
.fa-utensils { 
    color: white;
    
}
.fa-map-pin { 
    color: white;
}
.fa-car { 
    color: white;
}
.fa-walking { 
    color: white;
}
.fa-bus { 
    color: white;
}
.fa-clock { 
    color: white;
}

/* Large panel that hovers above page on load with 4 search inputs */
#floating-panel {
    position: absolute;
    top: 13%;
    left: 32%;
    width: 36%;
    height: 74%;
    min-height: 540px;
    z-index: 5;
    background-color: #d32323;
    /* padding: 4px; */
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 25px;
    padding-left: 10px;
    box-shadow: 10px 15px 60px #000000;
    resize: both;
    visibility: show; /*<<<<HIDDEN<<<<<<<HIDDEN<<<<<< *Trigger to toggle between show and hidden after user inputs have been recieved */
}
/* #container { 
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
} */

#container{
    position: relative;
}

#logo-float{
    position:relative;
    top: 5%;
    width: 40%;
    height: 95px;
    margin-bottom: -15px;
}

/* #transport-float { 
    height: 8%;
    width: 65%;
    font-size: 28px;
    color: grey;
} */

.label-float {
    font-size: 30px;
    margin-top: 10px;
    position: relative;
    top: 20px;

}

.input-float{
    width: 65%;
    height: 40px;
    font-size: 25px;
    color: grey;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 4px;
    position: relative;
    top: 20px;
}
#output {
    font-size: 11px;
}
#btn-float {
    height: 40px;
    width: 60%;
    margin-top: 15px;
    font-size: 200%;
    border-radius: 4px;
    position: relative;
    top: 20px;

}

.location-stuff{
    display: none;
}

@media screen and (min-width : 2000px){
    #floating-panel{
        width: 26%;
        left: 37%;
    }
    .input-float{
        width: 90%;
        height: 50px;
    }
    .label-float{
        font-size:40px;
    }
    #logo-float{
        height: 110px;
    }
}


@media screen and (max-width : 1200px) {
    #floating-panel{
        width: 50%;
        height: 74%;
        top: 13%;
        left: 25%;
    }
    #logo-float{
        width: 60%;
        max-width: 250px;
    }
}

/* Medium Devices, Desktops */
@media screen and (max-width : 992px) {
    #floating-panel{
        width: 60%;
        height: 80%;
        top: 10%;
        left: 20%;
        font-size: 90%;
    }

    .input-float{
        margin:18px;
    }

    #logo-float{
        width: 60%;
        max-width: 200px;
    }

    /* .input-float{
        width: 90%;
        height: 30px;
        margin: 10px;
    }
    .label-float{
        font-size: 20px;
    } */
}

/* Small Devices, Tablets */
@media screen and (max-width : 768px) {
    
    #floating-panel{
        min-height: 250px;
    }

}

@media screen and (max-height : 690px){
    #floating-panel{
        min-height: 570px;
    }
    #btn-float{
        font-size: 150%;
    }
}

/* Extra Small Devices, Phones */ 
@media screen and (max-width : 480px) {
    #floating-panel{
        width: 90%;
        left: 3%;
        height: 90%;
        top: 3%;
    }
     .input-float{
        width: 90%;
        height: 40px;
        margin: 10px;
    }

    .label-float{
        font-size: 30px;
        margin-top: 20px
    }

    #logo-float{
        min-width: 50%;
    }
}

/* Custom, iPhone Retina */ 
@media screen and (max-width : 350px) {
    #floating-panel{
        min-height: 600px;
    }
}