
/* Top bar with search inputs */
#header {
    position: fixed;
    width: 100%;
    /* height: 200px; */
    overflow: auto;
    padding: 20px;
    padding-bottom: 30px;
    background-color: #d32323;
    border-bottom: 1px solid #949494;
    z-index: 4;
    display: block;
    overflow: hidden;


}
#header-container { 
    /* position: relative;
    width: 100%;
    display: flex;
    padding-top: 0; */
    overflow: hidden;
}
#head-left { 
    margin-left: 10px;
}
i {
    display: inline;
}

.input-header {
    display: inline-block;
    width: 200px;
    height: 20px;
    color: grey;
    font-size: 15px;
    margin-right: 2%;
    margin-left: 10px;
    border-radius: 5px;
}

.lines{
    position: relative;
    bottom: 10px;
    display: none;
    z-index: 4;
}
.header-section {
    /* margin-left: 10px;
    margin-right: 5px;
    padding-top: 0px;
    font-family: 'Roboto','sans-serif';
    font-size: 28px; */
    float: left;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;

}


.header-section i{
    display: inline;
}

#transport-header { 
    width: 300px;
    height: 30px;
    font-size: 14px;
    margin-right: 2%;
    margin-left: 10px;
}

#btn-header { 
    /* position: absolute; 
    right: 50px; */
    width: 100px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 3px;
    display: flex;

}

#logo-header { 
    width: 108px;
    height: 50px;
    position: relative;
    bottom: 10px;
}

/* Panel to the right of the map that displays the resturned results and directions */
#right-panel {
    padding-top: 80px;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    float: right;
    width: 28%;
    padding-left: 2%;
    overflow: auto;
    /* height: auto; */
    max-height: 88%;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}
#sort-box {
    width: 90px;
}

@media screen and (max-width: 600px) {
    #right-panel{
        display: inline;
        float: none;
        padding-top: 10px;
    }

    #map{
        width: 100%;
    }
}


@media screen and (max-width: 1400px) {
    .header-section:not(:first-child) {display: none;}
    .lines {
      float: left;
      display: block;
    
    }

    .header-section{
        position: relative;
        left: 5%;
    }

    #logo-header {
        float: right;
        position: relative;
        right: 9%;
        bottom: 2%;
    }

  }


  
  @media screen and (max-width: 1400px) {
    .topnav.responsive {position: relative;}
    .lines {
      position: absolute;
      right: 100;
      top: 0;
    }
    .topnav.responsive p {
      float: none;
      display: block;
      text-align: left;
    }
  }