
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
/* Map for the landing page. */
#map {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    /* float: left; */
    /*  */
}  

.blurred{
    filter: blur(10px); 
}

/* below map is commented out and will toggle between landing page (above) and results page (below)  */
/* #map {
    height: 100%; 
    width: 50%; 
    float: right;
} */

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    /* overflow: hidden; */
    /* background-color: #de4e4e; */
}

/* Top bar with search inputs */
#header {
    position: fixed;
    width: 100%;
    height: 20px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: #d32323;
    border-bottom: 1px solid #949494;
    z-index: 4;
    display: inline-block;

}
#header-ptag { 
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 0;
}
#head-left { 
    margin-left: 10px;
}


.input-header {
    width: 200px;
    height: 20px;
    color: grey;
    font-size: 15px;
    margin-right: 2%;
    margin-left: 10px;
    border-radius: 5px;
}
.box3 {
    margin-left: 10px;
    margin-right: 5px;
    padding-top: 0px;
    font-family: 'Roboto','sans-serif';
    font-size: 28px;

}
#transport-header { 
    width: 300px;
    height: 30px;
    font-size: 14px;
    margin-right: 2%;
    margin-left: 10px;
}

#distance {
    margin-right: 15px;
}

#btn-header { 
    position: absolute; 
    right: 50px;
    width: 100px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 3px;
    display: flex;

}

#logo-header { 
    width: 108px;
    height: 50px;
    position: relative;
    bottom: 10px;
}

.fa-utensils { 
    color: white;
    
}
.fa-map-pin { 
    color: white;
}
.fa-car { 
    color: white;
}
.fa-walking { 
    color: white;
}
.fa-bus { 
    color: white;
}
.fa-clock { 
    color: white;
}

/* Panel to the right of the map that displays the resturned results and directions */
#right-panel {
    padding-top: 80px;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    float: right;
    width: 28%;
    padding-left: 2%;
    overflow: auto;
    max-height: 88%;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}
#sort-box {
    width: 90px;
}

/* Large panel that hovers above page on load with 4 search inputs */
#floating-panel {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 80%;
    z-index: 5;
    background-color: #d32323;
    padding: 5px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    box-shadow: 10px 15px 60px #000000;
    resize: both;
    visibility: show; /*<<<<HIDDEN<<<<<<<HIDDEN<<<<<< *Trigger to toggle between show and hidden after user inputs have been recieved */
}
#container { 
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

#logo-float {
    width: 216px;
    height: 100px;
    margin: 0;
    padding: 0;
}

#transport-float { 
    height: 8%;
    width: 65%;
    font-size: 28px;
    margin-bottom: 4%;
    color: grey;
}

.box2 {
    font-size: 30px;
    padding: 4%;
}
.box4 {
    font-size: 30px;
    padding-bottom: 4%;
}

.input{
    width: 65%;
    height: 8%;
    font-size: 25px;
    color: grey;
    margin-bottom: 4%;
    border-radius: 4px;
}
#output {
    font-size: 11px;
}
#btn-float {
    height: 40px;
    width: 200px;
    font-size: 28px;
    border-radius: 4px;

}

.location-stuff{
    display: none;
}