
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
/* Map for the landing page. */
#map {
    height: 100%;
    width: 70%;
    /* float: left; */
    /*  */
}  

/* .blurred{
    filter: blur(15px); 
} */

/* below map is commented out and will toggle between landing page (above) and results page (below)  */
/* #map {
    height: 100%; 
    width: 50%; 
    float: right;
} */

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    /* overflow: hidden; */
    /* background-color: #de4e4e; */
}

/* Top bar with search inputs */
#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #d32323;
    border-bottom: 1px solid #949494;
    z-index: 4;
    display: inline-block;
}
#header-ptag { 
    display: flex;
}
#head-left { 
    margin-left: 15px;
}
.input-header {
    width: 200px;
    height: 20px;
    color: grey;
}
.box3 {
    margin-right: 5px;
    padding-top: 5px;
}
#transport-header { 
    width: 300px;
    height: 30px;
    font-size: 14px;
    margin-right: 3%;
}
#cuisine {
    margin-right: 4%;
}
#origin {
    margin-right: 4%;
}
#transport {
    margin-right: 4%;
}
#distance {
    margin-right: 15px;
}
/* Panel to the right of the map that displays the resturned results and directions */
#right-panel {
    padding-top: 5%;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    float: right;
    width: 28%;
    padding-left: 2%;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

/* Large panel that hovers above page on load with 4 search inputs */
#floating-panel {
    position: absolute;
    top: 40px;
    left: 25%;
    width: 600px;
    height: 85%;
    z-index: 5;
    background-color: #d32323;
    padding: 5px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    box-shadow: 10px 15px 60px #000000;
    visibility: show; /*<<<<HIDDEN<<<<<<<HIDDEN<<<<<< *Trigger to toggle between show and hidden after user inputs have been recieved */
}

#transport-float { 
    height: 60px;
    width: 500px;
    font-size: 28px;
    margin-bottom: 4%;
    color: grey;
}

.box2 {
    font-size: 30px;
    padding: 4%;
}

.input{
    width: 500px;
    height: 60px;
    font-size: 30px;
    color: grey;
    margin-bottom: 4%;
}
#output {
    font-size: 11px;
}